img {
  height: 210px;
  width: auto;
}
.logo {
  height: 300px;
  width: 300px;
}
h1 {
  text-align: center;
  font-family: monospace;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  border: 5px solid rosybrown;
  height: 50px;
  align-items: center;
  background-color: antiquewhite;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-size: 27px;
  font-family: monospace;
}
a:hover {
  color: thistle;
}
.p {
  color: salmon;
}
